@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: 150px;
    font-size: 200%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 80px;
            background-color: #351a00;
            border-radius: 20px;
        } */

.content a {
    font-family: 'Aoboshi One', serif;
    font-size: 160%;
    color: #ffffff;
    text-decoration: none;
    width: 400px;
    height: 80px;
    background-color: #ffad5a;
    border-radius: 20px;
    box-shadow: 0 2px 4px #00000066;
}

.content a:hover {
    /* box-shadow: 0 0px 10px #00000066; */
    background-color: #ffa041;
}

.info-g {
    display: block;
    text-decoration: none;
    text-align: center;
    z-index: 99;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #ffad5a;
    /* background: #ff7700; */
    width: 60px;
    line-height: 60px;
    /* border-radius: 20px; */
    cursor: pointer;
}

.info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ffe2b0;
    color: #ff8000;
    padding: 10px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    width: 200px;
    height: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}

.info:hover {
    opacity: 1;
}
.info p {
    margin-top: -10px;
}

.sound-page {
    display: block;
    text-decoration: none;
    text-align: center;
    z-index: 99;
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #ffad5a;
    /* background: #ff7700; */
    width: 60px;
    line-height: 60px;
    /* border-radius: 20px; */
    cursor: pointer;
}

.sound-page a:visited {
    color: #ffad5a;
    text-decoration: underline;
}

.undo {
    display: block;
    text-decoration: none;
    text-align: center;
    z-index: 99;
    position: fixed;
    left: 10px;
    top: 10px;
    color: #ffad5a;
    /* background: #ff7700; */
    width: 60px;
    line-height: 60px;
    /* border-radius: 20px; */
    cursor: pointer;
}